<section class="banner" style="height: auto; background-image: url('assets/images/about.png')">
    <div class="container">
        <h1 class="banner-title">Tentang Kemenaker</h1>
        <p class="banner-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
            obcaecati.
        </p>
    </div>
</section>
<section class="history">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1>Sejarah Kemnaker</h1>
                <div class="description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur debitis delectus error eveniet, incidunt iste maxime nobis non provident. Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde? Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur debitis delectus error eveniet, incidunt iste maxime nobis non provident. Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur debitis delectus error eveniet, incidunt iste maxime nobis non provident. Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde? Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde?
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <h1>Visi</h1>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur debitis delectus error eveniet, incidunt iste maxime nobis non provident. Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde?
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <h1>Misi</h1>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur debitis delectus error eveniet, incidunt iste maxime nobis non provident. Commodi dolorum eligendi exercitationem fugiat id maxime nulla numquam unde?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="structure">
    <div class="container">
        <div class="structure-header">
            <h1>Struktur Organisasi</h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                obcaecati.
            </p>
        </div>
        <div class="info-charts">
            <div id="structure-1-chart" style="background-image: url('assets/images/struktur-1.png')">

            </div>
        </div>
    </div>
</section>
<section class="jabatan">
    <div class="container">
        <div class="jabatan-header">
            <h1>Pejabat Kemnaker</h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                obcaecati.
            </p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>JABATAN</th>
                <th>NAMA LENGKAP</th>
                <th>ALAMAT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Menteri Ketenegakerjaan</td>
                <td>Muhammad Hanif Dhakiri</td>
                <td>Gedung A Lt.2 Kementerian Ketenagakerjaan, Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus Ibukota Jakarta 12750, Indonesia</td>
            </tr>
            <tr>
                <td>Menteri Ketenegakerjaan</td>
                <td>Muhammad Hanif Dhakiri</td>
                <td>Gedung A Lt.2 Kementerian Ketenagakerjaan, Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus Ibukota Jakarta 12750, Indonesia</td>
            </tr>
            <tr>
                <td>Menteri Ketenegakerjaan</td>
                <td>Muhammad Hanif Dhakiri</td>
                <td>Gedung A Lt.2 Kementerian Ketenagakerjaan, Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus Ibukota Jakarta 12750, Indonesia</td>
            </tr>
            <tr>
                <td>Menteri Ketenegakerjaan</td>
                <td>Muhammad Hanif Dhakiri</td>
                <td>Gedung A Lt.2 Kementerian Ketenagakerjaan, Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus Ibukota Jakarta 12750, Indonesia</td>
            </tr>
            <tr>
                <td>Menteri Ketenegakerjaan</td>
                <td>Muhammad Hanif Dhakiri</td>
                <td>Gedung A Lt.2 Kementerian Ketenagakerjaan, Jl. Jendral Gatot Subroto Kav. 51, Daerah Khusus Ibukota Jakarta 12750, Indonesia</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
