<section class="banner text-center">
    <div class="container">
        <h2 class="banner-title">FAQ</h2>
        <p class="banner-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
            obcaecati.
        </p>
        <div class="search mt-4 mx-auto">
            <form action="" id="form-search">
                <i class="fa fa-search"></i>
                <input type="text" class="search-text" placeholder="Apa yang anda cari">
            </form>
        </div>
    </div>
</section>
<section class="accordion-container">
    <div class="container">
        <div id="collapse" class="accordion">
            <div class="card">
                <div class="card-header collapsed" id="accordion-1" #accordion1 (click)="accordion1.classList.toggle('collapsed'); accordion1Content.classList.toggle('show')">
                    Undang-Undang Nomor 39 Tahun 2004
                </div>

                <div id="accordion-1-content" class="collapse" #accordion1Content>
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header collapsed" id="accordion-2" #accordion2 (click)="accordion2.classList.toggle('collapsed'); accordion2Content.classList.toggle('show')">
                    Komponen Upah Untuk Menghitung Pesangon
                </div>

                <div id="accordion-2-content" class="collapse" #accordion2Content>
                    <div class="card-body">
                        <p>
                            1. Sesuai ketentuan Pasal 157 ayat (1) Undang-Undang Ketenagakerjaan Nomor 13 Tahun 2003 bahwa komponen upah yang digunakan sebagai dasar perhitungan upah pesangon, uang penghargaan masa kerja, dan uang penggantian hak yang seharusnya diterima terdiri atas:
                        <ul>
                            <li>
                                a. Upah pokok
                            </li>
                            <li>
                                b. Segala macam bentuk tujangan yang bersifat tetap yang diberikan kepada pekerja/burh dan karyawannya.
                            </li>
                        </ul>
                        <p>
                            2. Adapun pengertian tunjangan tetap, sesuai penjelasan Pasal 94 Undang-Undang Ketenagakerjaan Nomor 13 Tahun 2003 adalah pembayaran kepada pekerja/buruh yang dilakukan secara teratur dan tidak dikaitkan dengan kehadiran pekerja/burh atau pencapaian prestasi kerja tertentu.
                        </p>
                        <p>
                            3. Berdasarkan hal tersebut, maka untuk menentukan komponen upah sebagai dasar perhitungan pesangon agar menyesuaikan pengaturan pembayaran upah yang berlaku di perusahaan dengan ketentuan tersebut di atas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
