<section class="banner" style="height: auto;">
    <div class="container">
        <h1 class="banner-title">Sekretariat Jendral</h1>
        <p class="banner-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
            obcaecati.
        </p>
    </div>
</section>
<section class="work-unit">
    <div class="container">
        <div class="structure-header">
            <h1>Struktur Organisasi</h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                obcaecati.
            </p>
        </div>
        <div class="info-charts">
            <div id="structure-2-chart" style="background-image: url('assets/images/struktur-2.png')">

            </div>
        </div>
    </div>
</section>
