<div class="profile-2">
    <section class="banner"></section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="container-profile">
                        <div class="container-profile-top">
                            <div class="container-profile-picture">
                                <img src="assets/img/user-profile.jpg" alt="profile-picture"/>

                                <div class="overlay-profile-picture">
                                    <i class="fa fa-camera"></i>
                                    Ganti Foto
                                </div>
                            </div>

                            <button class="btn btn-secondary">
                                <span style="background-image:url('assets/images/pencil.svg')" class="mr-1"></span> Ubah Profil
                            </button>
                        </div>

                        <div class="container-profile-data">
                            <h3 class="text-name">Andrew Manulang</h3>
                            <label class="text-current-job">Product Manager at Kemnaker</label>
                            <label class="text-location">
                                <i class="fa fa-map-marker-alt mr-2"></i>
                                Depok, Jawa Barat
                            </label>
                            <p class="text-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Ad animi architecto aspernatur atque, autem com dolor majgo immuna
                            </p>

                            <div class="container-biodata">
                                <div class="wrapper-biodata">
                                    <h5 class="header-biodata">TTL</h5>
                                    <label class="text-biodata">
                                        Jakarta, 27 Juli 1989
                                    </label>
                                </div>

                                <div class="wrapper-biodata">
                                    <h5 class="header-biodata">Jenis Kelamin</h5>
                                    <label class="text-biodata">
                                        Laki - Laki
                                    </label>
                                </div>

                                <div class="wrapper-biodata">
                                    <h5 class="header-biodata">Status</h5>
                                    <label class="text-biodata">
                                        Sudah Menikah
                                    </label>
                                </div>

                                <div class="wrapper-biodata">
                                    <h5 class="header-biodata">Alamat</h5>
                                    <label class="text-biodata">
                                        Jl.Horodino Tara, Gg. Pochinki No.10 RT 04/01 Kebayoran, Jakarta Selatan, DKI Jakarta
                                    </label>
                                </div>

                                <div class="wrapper-biodata">
                                    <h5 class="header-biodata">Kontak</h5>
                                    <label class="text-biodata">
                                        (021) 778 2910
                                        <a href="#" class="link">andrew.manulang@gmail.com</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="social-icon primary">
                            <ul class="row">
                                <li id="facebook-1"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li id="twitter-1"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li id="instagram-1"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li id="youtube-1"><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="big-container-content">
                        <div class="box container-content">
                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-progress">
                                        75%
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-header">Lengkapi profil anda</label>
                                        </div>
                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                            <a href="">Isi biodata</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Pengalaman</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Pengalaman Kerja</h4>
                            </div>

                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture picture-icon">
                                        <span style="background-image: url('assets/images/company.svg')"></span>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">
                                                Vice President of Product Management
                                                <i class="fa fa-check-circle ml-2"></i>
                                            </label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">
                                                Vice President of Product Management
                                                <i class="fa fa-check-circle ml-2"></i>
                                            </label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="expand-button">
                                Tampilkan semua
                                <i class="fa fa-angle-down ml-2"></i>
                            </div>
                        </div>

                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Pemagangan</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Pemagangan</h4>
                            </div>

                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>

                                        <p class="text">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        </p>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Pengalaman</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Pelatihan</h4>
                            </div>

                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Pendidikan</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Pendidikan</h4>
                            </div>

                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture picture-icon">
                                        <span style="background-image:url('assets/images/school.svg')"></span>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-picture">
                                        <img src="assets/img/user-profile.jpg" alt="company-logo"/>
                                    </div>

                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Jul 2017 - Sekarang</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Sertifikat</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Sertifikasi</h4>
                            </div>

                            <div class="container-list">
                                <div class="wrapper-list">
                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Web Development - 2019</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Web Development - 2019</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                                <div class="wrapper-list">
                                    <div class="wrapper-list-content">
                                        <div class="wrapper-list-header">
                                            <label class="list-sub-header">Ammana</label>
                                            <label class="list-header">Vice President of Product Management</label>
                                            <label class="list-sub-title">Web Development - 2019</label>
                                        </div>
                                    </div>

                                    <div class="wrapper-settings">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="box container-content">
                            <div class="container-header-content">
                                <button class="btn btn-light float-right">
                                    <span class="d-none d-md-block">Tambah Keahlian</span>
                                    <i class="fa fa-plus-circle d-md-none"></i>
                                </button>

                                <h4 class="header-content">Keahlian</h4>
                            </div>

                            <div class="row speciality-row">
                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">Web Development</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">Usability</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">User Interface Design</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">Research</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">Front-end Development</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <label class="list-header">UI Engineer</label>
                                    <label class="list-sub-title">Endorsed by 5 people</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
