<div class="auth">
    <section class="top-bar">
        <a routerLink="/">
            <img class="logo" style="height: auto;" src="assets/images/logo.png"/>
        </a>
    </section>
    <div class="container">
        <div class="box auth-form">
            <span class="title">Masuk</span>
            <kemnaker-login-container></kemnaker-login-container>
        </div>
        <div class="text-center mb-5">
            Tidak memiliki akun? <a routerLink="/user/register">Daftar Sekarang</a>
        </div>
    </div>
</div>
