<div class="info-details row text-center">
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="75"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="83"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="64"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="60"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="95"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <h5>Pemutusan Hubungan Kerja</h5>
        <div class="info-circle" style="border: none;">
            <circle-progress [percent]="25"></circle-progress>
        </div>
        <h3 class="info-number">302,205</h3>
        <p class="info-detail description">
            Pengaduan terselesaikan
        </p>
    </div>
</div>
