<div class="info-details row">
    <div class="col-6 col-sm-3">
        <h3 class="info-number">16,342</h3>
        <div class="info-detail description">
            Total Perusahaan Mikro
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h3 class="info-number">6,435</h3>
        <div class="info-detail description">
            Total Perusahaan Kecil
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h3 class="info-number">4,607</h3>
        <div class="info-detail description">
            Total Perusahaan Menengah
        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h3 class="info-number">1,865</h3>
        <div class="info-detail description">
            Total Perusahaan Besar
        </div>
    </div>
</div>
<div class="info-charts">
    <kendo-chart>
        <kendo-chart-legend
            [visible]="isLG"
            [labels]="labels"
            orientation="horizontal"
            position="bottom"></kendo-chart-legend>
        <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [categories]="['Teknologi Mekanik', 'Listrik', 'Otomotif', 'Tata Niaga', 'Bangunan', 'Pertanian']"></kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-tooltip>
            <ng-template
                kendoChartSeriesTooltipTemplate
                let-value="value"
                let-category="category"
                let-series="series">
                <div>{{ category }} - {{ value }}</div>
            </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-series type="column">
            <kendo-chart-series-item [gap]="3" [name]="'Jumlah lulusan program pemagangan'" type="column" [data]="[455000, 275000, 480000, 410000, 220000, 455000]">
            </kendo-chart-series-item>
        </kendo-chart-series>
    </kendo-chart>
</div>

