<div class="info-details row">
    <div class="col-12 col-sm-4 col-lg-3">
        <h3 class="info-number">3,205,412</h3>
        <div class="info-detail description">
            Lowongan Terisi <b>(Dalam Negeri)</b>
        </div>
        <div class="info-bar">
            <div class="info-fill" style="width:80%"></div>
        </div>
        <div class="info-total description">
            Total Lowongan <b>4,575,004</b>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
        <h3 class="info-number">16,655,928</h3>
        <div class="info-detail description">
            Lowongan Terisi <b>(Luar Negeri)</b>
        </div>
        <div class="info-bar">
            <div class="info-fill" style="width:80%"></div>
        </div>
        <div class="info-total description">
            Total Lowongan <b>4,575,004</b>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
        <h3 class="info-number">40,512</h3>
        <div class="info-detail description">
            Job Fair Tersedia
        </div>
    </div>
</div>
<div class="info-charts">
    <div id="info-chart">

    </div>
</div>
