<section class="banner banner-index" style="background-image: url('assets/images/banner.png')">
    <div class="container">
        <h1 class="banner-title">Nikmati Layanan Kami</h1>
        <p class="banner-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
            obcaecati.
        </p>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="wrapper">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="service-title">Pengaduan</h5>
                    <p class="description service-description">
                        Layanan untuk melaporkan masalah terkait tenaga kerja
                    </p>
                    <a href="#">Kunjungi Layanan</a>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-services">Lihat Layanan Lainnya <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>
<section class="statistik">
    <div class="container">
        <kemnaker-statistic-container></kemnaker-statistic-container>
    </div>
</section>
<section class="news">
    <div class="container">
        <kemnaker-front-news-container></kemnaker-front-news-container>
    </div>
</section>
<section class="social">
    <div class="container">
        <div class="social-header d-flex align-items-start align-items-lg-center justify-content-start justify-content-lg-between flex-column flex-lg-row">
            <div class="left">
                <h1>Sosial Media</h1>
                <p class="description news-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                    obcaecati.
                </p>
            </div>
            <div class="right social-icon">
                <ul class="row">
                    <li id="facebook"><a href="#" style="background-image:url('assets/images/facebook.svg')"></a></li>
                    <li id="twitter"><a href="#" style="background-image:url('assets/images/twitter.svg')"></a></li>
                    <li id="instagram"><a href="#" style="background-image:url('assets/images/instagram.png')"></a></li>
                    <li id="youtube"><a href="#" style="background-image:url('assets/images/youtube.svg')"></a></li>
                </ul>
            </div>
        </div>
        <div class="row row-content">
            <div class="wrapper" id="child-1">
                <div class="social-image">
                    <img src="assets/images/banner.png" alt="social">
                </div>
                <div class="social-text">
                    <div class="description social-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi dolor ea, eum expedita id?
                    </div>
                    <div class="social-footer">
                        <i class="fab fa-twitter"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
            <div class="wrapper" id="child-2">
                <div class="social-text">
                    <div class="description social-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi dolor ea, eum expedita id? Accusamus animi dolor ea, eum expedita id? Accusamus animi dolor ea, eum expedita id?
                    </div>
                    <div class="social-footer">
                        <i class="fab fa-twitter"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
            <div class="wrapper full" id="child-3">
                <div class="social-image">
                    <img src="assets/images/banner.png" alt="social">
                </div>
                <div class="social-text">
                    <div class="social-footer">
                        <i class="fab fa-instagram"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
            <div class="wrapper" id="child-4">
                <div class="social-text">
                    <div class="description social-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi dolor ea?
                    </div>
                    <div class="social-footer">
                        <i class="fab fa-twitter"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
            <div class="wrapper full" id="child-5">
                <div class="social-image">
                    <img src="assets/images/banner.png" alt="social">
                </div>
                <div class="social-text">
                    <div class="social-footer">
                        <i class="fab fa-youtube"></i><div class="social-tag">KemnakerIndonesia</div>
                    </div>
                </div>
            </div>
            <div class="wrapper" id="child-6">
                <div class="social-text">
                    <div class="description social-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi dolor ea?
                    </div>
                    <div class="social-footer">
                        <i class="fab fa-twitter"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
            <div class="wrapper full" id="child-7">
                <div class="social-image">
                    <img src="assets/images/banner.png" alt="social">
                </div>
                <div class="social-text">
                    <div class="social-footer">
                        <i class="fab fa-instagram"></i><div class="social-tag">@kemenaker</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
