<section class="news popular">
    <div class="container">
        <div class="row align-items-center">
            <div class="news-header col-12 col-lg-6">
                <h1>Berita Terpopuler</h1>
                <p class="description news-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                    obcaecati.
                </p>
            </div>
            <div class="news-more col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center order-3 order-lg-0 mt-5">
                <a href="news.html">
                    <button type="submit" class="btn btn-primary">Lihat lebih banyak</button>
                </a>
            </div>
            <kemnaker-popular-news-container></kemnaker-popular-news-container>
        </div>
    </div>
</section>
<section class="news recent">
    <div class="container">
        <div class="row align-items-center">
            <div class="news-header col-12 col-lg-6">
                <h1>Berita Terbaru</h1>
                <p class="description news-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Commodi dolorum et maxime minus,
                    obcaecati.
                </p>
            </div>
            <div class="news-more col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center order-3 order-lg-0 mt-5">
                <a href="news.html">
                    <button type="submit" class="btn btn-primary">Lihat lebih banyak</button>
                </a>
            </div>
            <kemnaker-newest-news-container></kemnaker-newest-news-container>
        </div>
    </div>
</section>
